/* SECTIONS AND SCROLL */
section {
  @apply h-full lg:h-[100dvh] w-full py-16 lg:py-0 grid justify-center content-center snap-start snap-always box-border object-contain;
}

/* PROJECT CARDS */
.project:nth-child(2) {
  transition-delay: 200ms;
}
.project:nth-child(3) {
  transition-delay: 300ms;
}
.project:nth-child(4) {
  transition-delay: 400ms;
}
.project:nth-child(5) {
  transition-delay: 500ms;
}
.project:nth-child(6) {
  transition-delay: 600ms;
}

/* HIDE AND ANIMATE */
.stealth {
  @apply opacity-0;
}
.hiddenFade {
  @apply blur-sm scale-75 duration-[0];
}
.hiddenSlide {
  @apply blur-sm -translate-x-full duration-[0];
}
.reveal {
  @apply opacity-100 blur-0 translate-x-0 scale-100 duration-1000;
}

/* DEVICE SIZES */
@media (prefers-reduced-motion) {
  .stealth {
    @apply transition-none;
  }
}
